#page-home {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#page-home main {
    display: flex;
    padding: 30px 15% 15px 15%;
}

#page-home .filter {
    flex: 1
}

#page-home .filter h3 {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 15px;
}

#page-home .content {
    flex: 3
}

#page-home .content p {
    font-size: 13px
}

#page-home .lib-content {
    position: relative;
    align-items: baseline;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-row-gap: 100px;
    margin-top: 50px;
}

#page-home .book-item {
    text-align: center;
}

#page-home .book-item img {
    border: 0.5px solid var(--color-border);
    padding: 3px;
    margin-bottom: 5px;
}

#page-home .book-item h3 {
    font-weight: 400;
    width: 140px;
    line-height: 15px;
    margin-top: 5px;
    text-align: center;
}

#page-home .book-item h4 {
    color: var(--text-gray);
    font-weight: 400;
    font-size: 11px;
    margin-top: 5px;
}

.lib-content hr {
    position: absolute;
    top: 310px;
    left: 50%;
    transform: translateX(-50%);
    width: 92%;
    border: 1px solid var(--color-hr);
}

.lib-content .title {
    display: flex;
    align-items: center;
    justify-content: center;
}