#page-home main {
    display: flex;
    padding: 30px 20% 15px 20%;
}

#page-home .filter {
    flex: 1
}

#page-home .filter h3 {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 15px;
}

#page-home .content {
    flex: 3
}

#page-home .content p{
    font-size: 13px
}