#header-component {
    width: 100%;
    padding: 15px 20% 15px 20%;

    box-shadow: 0px 1px 20px -10px rgba(0, 0, 0, 0.66); 

    display: flex;
    justify-content: space-between;
    align-items: center;
}

#header-component ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#header-component a{
    font-size: 17px;
    font-weight: 400;

    margin-right: 20px; 
}

.search-input {
    display: flex;
}

.search-input input {
    padding: 0 10px;
    height: 35px;
    width: 200px;

    border: 0.5px solid var(--color-border);

    outline: var(--color-border);

    box-shadow: inset 0px -2px rgba(128,128,128,0.66);
    background-color: transparent;
}

.search-input button {
    height: 35px;
    width: 40px;

    box-shadow: inset 0px -2px rgba(128,128,128,0.66);
    border: 0.5px solid var(--color-border);
    background-color: var(--color-dotLib);
    outline: var(--color-border);

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
}

@media (min-width:1470px) {
    #header-component {
        padding: 15px 15% 15px 15%;
    }
}
