@import url('https://renan-santos.netlify.app/styles/reset.css');

:root {
    --color-primary: hsl(76, 46%, 52%);
    --color-primary-darker: hsl(76, 46%, 42%);
    --gray1: #ececec;
    --gray2: #dedede;
    --gray3: #cdcdcd;
    --shadow: 0 0 10px rgba(0,0,0,0.2);
    --page-width: 1200px;
}

*{
    font-family: Arial, Helvetica, Sans, sans-serif;
}

input {
    accent-color: var(--color-primary);
}